# Python virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]

# Logs
*.log

# IDE and editor files
.vscode/
.idea/
*.swp

# MacOS system files
.DS_Store

# Pytest cache
.pytest_cache/

# Environment variables
.env
